html,body{height: 100%;}
body{background: black;}

.header__lista{float:right; margin:0; padding:0;}
.item__pagina{display: inline-block;}
.item__pagina a{color:white; display: block; padding:20px;}
.item__pagina a:hover{background:orange}



.testomodificato {color: orange; font-size:40px}
/*
.fotomodificata {transform: scale(0.4); position:fixed; top:-90px; left:1550px}
*/

.fotomodificata {transform: scale(0.3); position:absolute; top:-125px; left: 1075px}
.fotolibro {transform: scale(0.2);position:absolute; top:-175px; left:0px}

.centrale {display: block; margin-left: auto; margin-right: auto; width: 50%;}
.fotolista{transform: scale(0.2); position:absolute; top:-175px; left:0px}
.fotocuoco{transform: scale(0.4); position:absolute; top:-100px; left:200px}
